.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, label {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}
